  
  <!-- HEADER & NAVBAR DE NAVEGACIÓN -->
  <header class="header-crustaceo">
    <nav class="navbar-crustaceo">
        <div class="nav-contenido">

            <!-- Navegación de las secciones de inicio -->
            <div class="nav-principal">
                <a class="nav-link-item" routerLink="/"><i class="bi bi-house-door" aria-hidden="true"></i> Inicio</a>
                <a class="nav-link-item" routerLink="/comidas/tarjetas"><i class="bi bi-list-ul" aria-hidden="true"></i> Menú</a>
            </div>

            <!-- Logo y nombre -->
            <a class="navbar-brand" routerLink="/">
                <img src="/imagenes/logo2.png"
                     alt="Logo de Crustáceo Caribeño"
                     width="48"
                     height="48">

                <span>Crustáceo Caribeño</span>
            </a>

            <!-- Login y Registro -->
            <div class="nav-botones">
                <a href="/login" class="nav-link-item"><i class="bi bi-person-circle" aria-hidden="true"></i> Iniciar sesión</a>
            </div>
        </div>
    </nav>
</header>
