<section class="hero-section" aria-label="Bienvenida al menú">
  <div class="hero-content">
    <h1 class="hero-title">Lo Mejor Del Mar<br>Caribe</h1>
    <p class="hero-subtitle">
      Descubre Una Selección Única De Ceviches, Pescados Y Mariscos Preparados Con La Máxima Frescura De La Costa. Crea Tu Perfil Para Personalizar Tus Órdenes, Seguir Tus Compras En Tiempo Real Y Hacer De Cada Pedido Una Experiencia Sencilla Y Directa Hasta Tu Mesa.
    </p>
    <div class="hero-buttons">
      <a href="#menu-tabla" class="boton-menu">Menu</a>
      <a href="#" class="boton-domicilio">Domicilio</a>
    </div>
  </div>
</section>
