
<section id="lo-mejor-del-caribe" class="intro">
    <div class="imagen">
                <img src="/imagenes/imagen1.png" alt="Plato de mariscos del restaurante">
    </div>
    <div class="texto">
        <h1>Lo Mejor Del Mar Caribe</h1>
        <p>
          En El Crustáceo Caribeño te traemos el verdadero sabor del mar. Regístrate en nuestra plataforma para realizar tus pedidos de forma rápida y explora nuestro menú completo para descubrir ceviches frescos, especialidades a las brasas y promociones exclusivas.
        </p>
         <a href="/comidas/tarjetas" class="boton">Menú</a>
    </div>
</section>
