
<!--SEPARADOR-->
<div class="separador">
    <span>¿Quiénes Somos?</span>
</div>
<!-- SECCIÓN 3 -->
<section id="quienes-somos" class="seccion">
    <div class="contenido">
        <div class="imagen">
            <img src="/imagenes/imagen3.png" alt="Preparación de platos caribeños">
        </div>
        <div class="texto">
            <h2>¿Quiénes Somos?</h2>
            <p>
                En El Crustáceo Caribeño queremos
                llevar la autenticidad y frescura
                del mar directo a tu mesa.
                Hacemos de la cocina un espacio
                donde nuestros clientes puedan
                disfrutar de una experiencia única.
            </p>
            <p>
                Contamos con recetas tradicionales
                y productos frescos para garantizar
                el mejor sabor.
            </p>
        </div>
    </div>
</section>
