<header class="header-crustaceo">
  <nav class="navbar-crustaceo">
    <div class="nav-contenido">
      <div class="nav-principal">
        <a href="/#lo-mejor-del-caribe">Lo Mejor del Caribe</a>
        <a href="/#por-que-nosotros">¿Por Qué Nosotros?</a>
        <a href="/#quienes-somos">¿Quiénes Somos?</a>
      </div>

      <a class="navbar-brand" href="/">
        <img src="/imagenes/logo2.png" alt="Logo de Crustáceo Caribeño" width="48" height="48">
        <span>Crustáceo Caribeño</span>
      </a>

      <div class="nav-botones">
        <a href="/login" class="btn-cc-login">Login</a>
        <a href="/registro" class="btn-cc-signup">Signup</a>
      </div>
    </div>
  </nav>
</header>
