.categoria { 
    margin: 0 0 28px; 
    color: #9c6415; 
    font-family: "Playfair Display", serif; 
    font-size: clamp(1.15rem, 3vw, 1.5rem); 
    text-align: center; 
}
.tarjeta-plato { 
    position: relative; 
    display: grid; 
    grid-template-columns: 150px 1fr; 
    column-gap: 24px; 
    padding: 25px 25px 40px; 
    border: 1px solid #bdb7ae; 
    border-radius: 15px; 
    background: #fffefa; 
}
.imagen-plato { 
    width: 150px; 
    height: 132px; 
    border-radius: 8px;
     object-fit: cover; 
    }
.informacion-plato h2 { 
    margin: 4px 0 14px; 
    color: #75470d; 
    font-family: "Playfair Display", serif; 
    font-size: clamp(1rem, 2.5vw, 1.25rem); 
}
.informacion-plato p { 
    margin: 0; 
    font-size: .76rem; 
    line-height: 1.65; 
}
.precio { 
    position: absolute; 
    right: 25px; 
    bottom: 13px; 
    margin: 0; 
    font-family: "Playfair Display", serif; 
    font-size: .9rem; 
    font-weight: 700; 
}
@media (max-width: 500px) { 
    .tarjeta-plato { 
        grid-template-columns: 1fr; 
        row-gap: 15px; 
    } 
    .imagen-plato { 
        width: 100%; 
        height: 190px; 
    } }
